* {
    background-color: aqua;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.hidden-audio {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 1;
    height: 1;
    opacity: 0;
    pointer-events: none;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .App {
        background-position: center center;
        background-attachment: fixed;
    }
        .header {
            margin-top: 30px;
        }
}

.editImage {
    width: 100%;
    height: 100%;
}